{% extends "base.html" %}

{% block title %}
  Folder: {{ folder.name }}
{% endblock title %}

{% block content %}
  <h2>{{ folder.name }}</h2>
  <h4>Notes in this folder:</h4>
  <p>
    <ul>
      {% with notes=folder.note_set.all %}
        {% for note in notes %}
          <li>
            <a href="{% url "notes:detail" note.slug %}">
              {{ note.title }}
            </a>
          </li>
        {% endfor %}
      {% endwith %}
    </ul>

  </p>

  <h7>
    Created by: <a href="{% url "users:detail" folder.creator.username %}">{{ folder.creator.username }}</a>
  </h7>
  <div>
    <a class="btn btn-primary" role="button" href="{% url "folders:update" folder.slug %}"
       >
      Rename Folder
    </a>
    <a class="btn btn-danger" role="button" href="">
      Delete Folder
    </a>
  </div>
{% endblock content %}
