{% extends "base.html" %}

{% block title %}Note: {{ note.title }}{% endblock title %}

{% block content %}

  <h2>{{ note.title }}</h2>
  <h5>
    In folder:
    <a href="{% url "folders:detail" note.parent_folder.slug %}">
      {{ note.parent_folder }}
    </a>
  </h5>


  {% if note.text %}
    <p>{{ note.text }}</p>
  {% endif %}

  <h7>Submitted by
    <a href="{% url 'users:detail' note.creator.username %}">
      {{ note.creator.username }}
    </a>
  </h7>

  <div>
    <a class="btn btn-primary" href="{% url "notes:update" note.slug %}"
       role="button">
      Update
    </a>
    <a class="btn btn-danger" href="">
      Delete
    </a>
  </div>

{% endblock content %}
